.intro
    .intro-left.p-r-1
        img(src=static(`/img/site_icon.png`) align='left')
    .intro-right
        div.m-b-1
            | <strong>Jim Le is a digital product developer</strong>
            | <br> He/Him. I like building digital products and teams but can never find the time to talk about
            | either. I tweet more frequently, this blog is for longer rants.
        ul.social
            li
                a(href=url('https://github.com/jimleuk'))
                    img(src=static('/img/github.svg') width=24)
            li
                a(href=url('http://twitter.com/jimle_uk'))
                    img(src=static('/img/twitter.svg') width=24)
            li
                a(href=url('https://uk.linkedin.com/in/jimleuk'))
                    img(src=static('/img/linkedin.svg') width=24)