.intro
    h3 About
    p
        | Welcome to my personal blog where I talk mostly about the tools
        | and techniques of interest in my day-to-day. I develop primarily using a
        | javascript stack and my work revolves around SAAS & digital consumer products.
    hr
    h3 Author
    p
        | Currently <strong>Senior Web Developer</strong> at 
        | <a href="!{url('http://withreason.co.uk')}"><strong>@REASON</strong></a>,
        | working with some amazing brands like Deutsche Telekom and GAP. 
        | Previously <strong>Lead Frontend Developer</strong> at 
        | <a href="!{url('http://about.beauhurst.com')}"><strong>@BEAUHURST</strong></a>, a data
        | platform for clients like KPMG, Barclays and InnovateUK.
    
    .m-t-2
        img(src=static(`/img/site_icon.png`) align='left' class='m-r-1' width=72)
        p
            | <strong>Available for hire 🔥 </strong>
            | <br> Please send inquiries to <a href="mailto:jim@height.io"><strong>jim@height.io</strong></a>.
        ul.social
            li
                a(href=url('https://uk.linkedin.com/in/jimleuk'))
                    img(src=static('/img/linkedin.svg') width=24)
            li
                a(href=url('http://twitter.com/jimle_uk'))
                    img(src=static('/img/twitter.svg') width=24)