.intro
    img(src=static(`/img/site_icon.png`) align='left' class='m-r-1' width=72)
    p
        | <strong>Jim Le</strong>
        | <br> He/Him. Building digital products since 2010.
    ul.social
        li
            a(href=url('https://uk.linkedin.com/in/jimleuk'))
                img(src=static('/img/linkedin.svg') width=24)
        li
            a(href=url('http://twitter.com/jimle_uk'))
                img(src=static('/img/twitter.svg') width=24)