extend ../templates/root.pug

block overrides
    - var title = 'Welcome'

block header
block footer

block body
    .page__body
        .container
            .row
                .col-xs-10.col-xs-offset-1
                    .row
                        .col-xs-12.col-sm-7
                            include ../templates/intro.pug
                        .col-xs-12.col-sm-4.col-sm-offset-1
                            h2.shutter(style="height:26px")
                                .shutter__inner
                                    a(href=url('/posts/index.html')) Latest Posts
                                    a(href=url('/posts/index.html')) View all Posts
                            each post in posts.slice(0, 1)
                                include ../templates/post_card.pug
                    .row.p-t-2
                        .col-xs-12
                            h2 Featured Works
                            img(src=static('/img/portfolio_1a.png'))
                            .p-t-2
                                .row
                                    .col-xs-12.col-sm-6
                                        img(src=static('/img/portfolio_1c.png'))
                                    .col-xs-12.col-sm-6
                                        img(src=static('/img/portfolio_1b.png'))
                    .row
                        .col-xs-12
                            hr
                            h3 Coming soon &hellip;